<html>
    <head>
        <title> Home Page!</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
    </head>
    <body>
        <div style="text-align: center" class="jumbotron">
            <p> Welcome to the home page!</p>
            <form method= "POST" action = '/'>
                <input name = "nameInput" type="text"> 
                <button type="submit" class="btn btn-success">Submit</button>
            </form>

            <form method= "GET" action = '/'>
                <input name = "nameInput" type="text"> 
                <button type="submit" class="btn btn-success">Submit</button>
            </form>
            
        </div>
        <pre> yeet</pre>
    </body>
</html>